.container{
  min-width: 100px;
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
  text-align: center;
}

.active{
  background-color: var(--text);
  color: var(--bg);
}

@media (max-width: 768px) {
  .container{
    width: 100%;
    min-width: unset;
    padding: 12px 4px;
    border-radius: 0;
    text-align: left;
    font-size: 18px;
    background: transparent;
  }
}